 <!-- Features Section -->
      <div class="row" th:fragment="about">
        <div class="col-lg-6">
          <h2>Siksè pou nou tout</h2>
          <p>Lokasyon</p>
          <ul>
            <li>
              <strong>Potoprens</strong>
            </li>
            <li>Okap</li>
            <li>Okay</li>
          </ul>
          <p>se yon fòmasyon ki vini pou bay bon jan bourad ak tout moun ki vle reyisi, nap pataje bon jan konesans kap itil pou yon moun akonpli vi li epi ankadre yo apre pou n mete pwojè kanpe epi fè biznis.</p>
          <p></p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="img/spnt-logo.png" alt=""/>
        </div>
      </div>
      <!-- /.row -->
