<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="bower_components/semantic/dist/semantic.css"></link>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>

    <script type="text/javascript" src="bower_components/react/react.development.js"></script>

    <script type="text/javascript" src="bower_components/semantic/dist/semantic.js"></script>
    <script type="text/javascript" src="bower_components/babel/browser.js"></script>

</head>
<body>

</body>
</html>