<!-- Call to Action Section -->
      <div class="row mb-4" th:fragment="join">
        <div class="col-md-8">
          <h2>Kouman l'ap fèt?</h2>
          <p>Nap fè tout fòmasyon nan lang <b>kreyòl</b>, nou vle touche konsyans chak ayisyen, nou vle rasire n ke tout moun konprann. Nap fòme moun nan tout 10 depatman yo, nap kòmanse nan Lwès.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Patisipe</a>
        </div>
      </div>